EXPRESS_TRACKING_KUAIDI100_KEY=
EXPRESS_TRACKING_KUAIDI100_CUSTOMER=
EXPRESS_TRACKING_KUAIDI100_QUERY_URL=https://poll.kuaidi100.com/poll/query.do
EXPRESS_TRACKING_KUAIDI100_AUTO_URL=https://www.kuaidi100.com/autonumber/auto
EXPRESS_TRACKING_DEFAULT_RECENT_LIMIT=3
